@model Slider
@{
    ViewData["Title"] = "Detail";
}
<div class="row">
    <div class="col-md-6 text-left">
        <h2>@Model.Title</h2>
        <p>@Model.Subtitle</p>
    </div>
    <div class="col-md-6 ">
        <img src="~/img/slider/@Model.Image" width="500px" style="500px" object-fit:cover />
    </div>
</div>
<a asp-action="Index" class="btn btn-secondary" text-white>Go Back</a>




